<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MCChangeLabelFont-OC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>819456DD1CF58AB300D34A89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>819456F61CF58AB300D34A89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>819457011CF58AB300D34A89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
